# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

#database entrypoint
oyinye-api/docker-entrypoint-initdb.d/
oyinye-api/docker-entrypoint-initauthdb.d/
oyinye-api/apps/**/migrations/
oyinye-api/docker-compose.yaml
oyinye-frontend/docker-compose.yaml
oyinye-frontend/Dockerfile
oyinye-api/typeorm.config.ts

#files for dev and production
oyinye-api/apps/*/Dockerfile
oyinye-api/docker-compose.yaml
oyinye-api/.dockerignore
*.sh
oyinye-frontend/.dockerignore
oyinye-frontend/Dockerfile
oyinye-frontend/docker-compose.yml
oyinye-frontend/ngrok.yml
oyinye-frontend/.next/
oyinye-frontend/locales/

#files for csrf
oyinye-api/libs/common/src/csrf/

# dotenv environment variable files
oyinye-api/.env.*
oyinye-frontend/.env
.env.development.local
.env.test.local
.env.production.local

# compiled output
oyinye-api/dist/
oyinye-frontend/.next/
oyinye-api/node_modules/
oyinye-frontend/node_modules/
