<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <title>Oyinye - Payment Request</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.jsdelivr.net/gh/je2781/oyinye_couture@main/public/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.jsdelivr.net/gh/je2781/oyinye_couture@main/public/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.jsdelivr.net/gh/je2781/oyinye_couture@main/public/favicon-16x16.png"/>
    <link rel="manifest" href="https://cdn.jsdelivr.net/gh/je2781/oyinye_couture@main/public/site.webmanifest"/>
</head>

<body bgcolor="#f2f2f2" style="background-color: rgb(242, 242, 242); margin: 40px 0px; padding: 0px;" yahoo="fix" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <div style="background-color: #f2f2f2; width: 100%;">

        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" style="border-collapse: collapse; min-width: 100% !important; width: 100%;" width="100%">
            <tbody>
                <tr>
                    <td align="center" bgcolor="f2f2f2" valign="top" style="background-color: #f2f2f2;">
                        <!--BackgroundColor Fix Start-->
                        <table align="center" border="0" cellpadding="20" cellspacing="0" class="contenttable" lang="x-content" style="border-collapse: collapse; min-width: 280px; width: 500px;" width="500" cloneordelete="">
                            <tbody>
                                <tr>
                                    <td align="center" valign="middle" style="padding-top: 20px;padding-bottom:20px"><a href="https://oyinye.com" style="text-decoration:none"><img alt="" border="0" src="https://cdn.jsdelivr.net/gh/je2781/oyinye_couture@main/public/oyinye-bg-cream.jpg" style="height:75px;display:block" width="250"></a></td>
                                </tr>
                            </tbody>
                        </table>
                        <table align="center" bgcolor="#dddddd" border="0" cellpadding="0" cellspacing="0" style="-moz-box-shadow: 0px 0px 5px #dddddd; -webkit-box-shadow: 0px 0px 5px #dddddd; border-collapse: collapse; box-shadow: 0px 0px 5px #dddddd;">
                            <tbody>
                                <tr>
                                    <td align="center">
                                        <!--Shadow Start-->
                                        <table align="center" bgcolor="ffffff" border="0" cellpadding="0" cellspacing="0" class="contenttable" lang="x-content" style="background-color: rgb(255, 255, 255); border-collapse: collapse; min-width: 280px; width: 600px; position: relative;" width="600" cloneordelete="">
                                            <tbody>
                                                <tr>
                                                    <td align="center" height="20" style="color: transparent; font-size: 1px; height: 20px; line-height: 20px; padding: 0px 0px 0px 0px;"> &nbsp; </td>
                                                </tr>
                                                <tr>
                                                    <td align="center" style="padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; text-align: center;">
                                                        <table border="0" class="tablemobile" lang="x-tablem" cellpadding="0" cellspacing="0" align="center" style="border-collapse: collapse; width: 600px" width="600">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center" style="padding-top: 0px; padding-bottom: 0px; padding-left: 20px; padding-right: 20px; line-height: 100%;">
                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="tablemobile" lang="x-tablem" style="border-collapse: collapse; direction: ltr; vertical-align: top; display: inline-block; position: relative;" cloneordelete="single">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center" style="line-height: 100%; padding: 0px;" editable=""><a href="#" style="color: inherit; text-decoration: none;">  </a></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        
                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="tablemobile" lang="x-tablem" style="border-collapse: collapse;" cloneordelete="single">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center" height="20" style="color: transparent; font-size: 1px; height: 20px; line-height: 20px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; width: 10px;" width="10"> &nbsp; </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>                                                                        

                                                                        <table align="right" border="0" cellpadding="0" cellspacing="0" class="tablemobile" lang="x-tablem" style="border-collapse: collapse; direction: ltr; vertical-align: top; display: inline-block;" cloneordelete="single">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center" style="padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">
                                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td align="center" style="color: rgb(119, 119, 119); font-size: 12px; line-height: 18px; padding: 0px;" editable="">
                                                                                                        <a href="[PAYMENT_URL]" style="text-decoration: none; color: #777777;">
                                                                                                            <font color="#777777" size="2" style="font-family: 'Montserrat', 'Gotham Rounded', 'Gotham', 'Noto Sans', 'Open Sans', 'Source Sans Pro', 'Segoe UI','Segoe UI Web Regular','Segoe UI Symbol','Helvetica Neue',Arial,sans-serif; font-size: 12px; text-size-adjust: 100%; text-transform: uppercase;font-weight:700;">

                                                                                                                Order: ##<%=  orderId  %>##

                                                                                                            </font>
                                                                                                        </a>
                                                                                                    </td>
                                                                                                    <td align="center" style="padding-bottom: 0px; padding-left: 10px; padding-right: 0px; padding-top: 0px;">
                                                                                                        <table align="center" bgcolor="#5c6bc0" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                                                                                            <tbody>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                        <!--[if !mso]><!-->
                                                                        <table align="right" border="0" cellpadding="0" cellspacing="0" class="tablemobile" lang="x-tablem" style="border-collapse: collapse; direction: ltr; vertical-align: top; display: inline-block;" cloneordelete="single">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center" height="20" style="color: transparent; font-size: 0px; height: 20px; line-height: 20px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; width: 1px;" width="1"> &nbsp; </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <!--<![endif]-->

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table bgcolor="#ffffff" align="center" border="0" cellpadding="0" cellspacing="0" class="contenttable" lang="x-content" style="background-color: rgb(255, 255, 255); border-collapse: collapse; min-width: 280px; width: 600px; position: relative;" width="600" cloneordelete="">
                                            <tbody>
                                                <tr>
                                                    <td align="center" height="10" style="color: transparent; font-size: 1px; height: 10px; line-height: 10px; padding: 0px 0px 0px 0px;"> &nbsp; </td>
                                                </tr>
                                                <tr>
                                                    <td align="center" style="padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center" style="padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;">
                                                                        <table align="center" bgcolor="#dddddd" border="0" cellpadding="0" cellspacing="0" class="tablemobile" height="1" lang="x-tablem" style="background-color: rgb(221, 221, 221); border-collapse: collapse; min-width: 80px; width: 260px;" width="260" cloneordelete="single">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center" bgcolor="#dddddd" height="1" style="color: transparent; font-size: 0px; height: 1px; line-height: 1px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">&nbsp;</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                    <td align="center" style="line-height: 100%; padding: 0px 20px;" editable=""><img alt="" border="0" height="35" src="https://streetzwyze.com/eml-acc/st-shopping-cart.png" style="display: block; height: 35px; width: 40px;" width="40"></td>
                                                                    <td align="center" style="padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;">
                                                                        <table align="center" bgcolor="#dddddd" border="0" cellpadding="0" cellspacing="0" class="tablemobile" height="1" lang="x-tablem" style="background-color: #dddddd; border-collapse: collapse; min-width: 80px; width: 260px;" width="260" cloneordelete="single">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center" bgcolor="#dddddd" height="1" style="color: transparent; font-size: 0px; height: 1px; line-height: 1px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">&nbsp;</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="contenttable" lang="x-content" style="border-collapse: collapse; min-width: 280px; width: 600px; position: relative;" width="600" cloneordelete="">
                                            <tbody>
                                                <tr>
                                                    <td align="center" height="20" style="color: transparent; font-size: 1px; height: 20px; line-height: 20px; padding: 0px 0px 0px 0px;"> &nbsp; </td>
                                                </tr>
                                                <tr>
                                                    <td align="center" style="padding-bottom: 0px; padding-left: 20px; padding-right: 20px; padding-top: 0px;">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="tablemobile" lang="x-tablem" style="border-collapse: collapse;" width="400" cloneordelete="single">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center" style="color: rgb(92, 107, 192); font-size: 16px; line-height: 20px; padding: 0px 0px 10px; text-transform: uppercase;" editable=""><font color="#000000" size="3" style="font-family: 'Montserrat', 'Gotham Rounded', 'Gotham', 'Noto Sans', 'Open Sans', 'Source Sans Pro', 'Segoe UI','Segoe UI Web Regular','Segoe UI Symbol','Helvetica Neue',Arial,sans-serif; text-size-adjust: 100%; text-transform: uppercase;font-weight:600;"> Thank you for your patronage! </font></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" style="color: rgb(119, 119, 119); font-size: 13px; line-height: 18px; padding: 0px;" editable=""><font color="#777777" size="2" style="font-family: 'Noto Sans', 'Open Sans', sans-serif; text-size-adjust: 100%;"> Here's a quick view of the total amount this invoice is for, contact the seller for a detailed breakdown of the total amount </font></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center" height="20" style="color: transparent; font-size: 0px; height: 20px; line-height: 20px; padding: 0px 0px 0px 0px;"> &nbsp; </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="contenttable" lang="x-content" style="border-collapse: collapse; min-width: 280px; width: 600px; position: relative;" width="600" cloneordelete="">
                                            <tbody>
                                                <tr>
                                                    <td align="center" height="30" style="color: transparent; font-size: 1px; height: 30px; line-height: 30px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;"> &nbsp; </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="contenttable" lang="x-content" style="border-collapse: collapse; min-width: 280px; width: 600px;" width="600" cloneordelete="">
                                            <tbody>
                                                <tr>
                                                    <td align="center" style="padding-bottom: 0px; padding-left: 20px; padding-right: 20px; padding-top: 0px;">
                                                        <table align="center" bgcolor="#f5f5f5" cellpadding="0" cellspacing="0" class="tablemobile" lang="x-tablem" style="border-collapse: collapse; border-radius: 5px; box-shadow: rgb(221, 221, 221) 0px 0px 5px;" width="480" cloneordelete="single">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center" height="10" style="color: transparent; font-size: 1px; height: 10px; line-height: 10px; padding: 0px 0px 0px 0px;"> &nbsp; </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" style="padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">
                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="tablemobile" lang="x-tablem" style="border-collapse: collapse;" cloneordelete="single">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center" style="line-height: 100%; padding-bottom: 0px; padding-left: 20px; padding-right: 0px; padding-top: 0px;">



                                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="tablemobile" lang="x-tablem" style="border-collapse: collapse;" cloneordelete="single">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td align="center" height="10" style="color: transparent; font-size: 1px; height: 10px; line-height: 10px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; width: 20px;" width="20"> &nbsp; </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>                                                                                        

                                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="tablemobile" lang="x-tablem" style="border-collapse: collapse;" cloneordelete="single">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td align="left" style="padding-bottom: 10px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">
                                                                                                        <font color="#333333" size="2" style="font-family: 'Montserrat', 'Gotham Rounded', 'Gotham', 'Noto Sans', 'Open Sans', 'Source Sans Pro', 'Segoe UI','Segoe UI Web Regular','Segoe UI Symbol','Helvetica Neue',Arial,sans-serif; text-size-adjust: 100%;font-weight:700;">

                                                                                                            [MERCHANT_NAME]

                                                                                                        </font>
                                                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="tablemobile" lang="x-tablem" style="border-collapse: collapse;" cloneordelete="single">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td align="center" style="color: #b4b4b4; font-size: 13px; line-height: 16px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;" editable=""></td>


                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td align="left" style="color: #777777;font-family: 'Noto Sans', 'Open Sans', sans-serif;font-size: 13px;line-height: 18px;padding-bottom: 10px;padding-left: 0px;padding-right: 1rem;padding-top: 0px;" editable=""><font color="#777777" size="2" style="font-family: 'Noto Sans', 'Open Sans', sans-serif; text-size-adjust: 100%;">Awaiting notification of successful payment for order amount below, delivery of purchase will commerce on confirmation</font></td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td align="left" style="color: rgb(51, 51, 51); font-size: 13px; line-height: 16px; padding: 0px 0px 10px;" editable=""><font color="#333333" size="2" style="font-family: 'Montserrat', 'Gotham Rounded', 'Gotham', 'Noto Sans', 'Open Sans', 'Source Sans Pro', 'Segoe UI','Segoe UI Web Regular','Segoe UI Symbol','Helvetica Neue',Arial,sans-serif; text-size-adjust: 100%;font-weight:700;"> Price:&nbsp; </font> <font color="#000000" size="2" style="font-family: 'Montserrat', 'Gotham Rounded', 'Gotham', 'Noto Sans', 'Open Sans', 'Source Sans Pro', 'Segoe UI','Segoe UI Web Regular','Segoe UI Symbol','Helvetica Neue',Arial,sans-serif; text-size-adjust: 100%;font-weight:600"> ₦ ##PRICE## </font></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" height="10" style="color: transparent; font-size: 0px; height: 10px; line-height: 10px; padding: 0px 0px 0px 0px;"> &nbsp; </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" bgcolor="#eaeaea" height="1" style="color: transparent; font-size: 0px; height: 1px; line-height: 1px; padding: 0px 0px 0px 0px;"> &nbsp; </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" height="10" style="color: transparent; font-size: 0px; height: 10px; line-height: 10px; padding: 0px 0px 0px 0px;"> &nbsp; </td>
                                                                </tr>

                                                                <tr>
                                                                    <td align="center" height="10" style="color: transparent; font-size: 1px; height: 10px; line-height: 10px; padding: 0px 0px 0px 0px;"> &nbsp; </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" bgcolor="#eaeaea" height="1" style="background-color: #eaeaea; color: transparent; font-size: 0px; height: 1px; line-height: 1px; padding: 0px 0px 0px 0px;"> &nbsp; </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" bgcolor="#fafafa" height="20" style="background-color: #fafafa; color: transparent; font-size: 1px; height: 20px; line-height: 20px; padding: 0px 0px 0px 0px;"> &nbsp; </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" bgcolor="#fafafa" style="background-color: #fafafa; padding-bottom: 0px; padding-left: 20px; padding-right: 20px; padding-top: 0px;">
                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="tablemobile" lang="x-tablem" style="border-collapse: collapse; position: relative;" cloneordelete="single">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center" style="line-height: 100%; padding: 0px 10px 0px 0px;" valign="middle">
                                                                                        <table style="background-color: #000000; border-collapse: collapse; border-radius: 10px;" cellspacing="0" cellpadding="10" bgcolor="#cccccc" align="left">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td align="center" style="color: rgb(255, 255, 255); font-size: 10px; line-height: 12px;">
                                                                                                        <a style="text-decoration: none;" href="[PAYMENT_URL]">
                                                                                                            <font color="#ffffff" size="2" style="font-family: 'Noto Sans', 'Open Sans', 'Source Sans Pro', 'Segoe UI','Segoe UI Web Regular','Segoe UI Symbol','Helvetica Neue','BBAlpha Sans','S60 Sans',Arial,sans-serif; text-size-adjust: 100%; text-align: center;">

                                                                                                                CLICK TO PAY
                                                                                                            </font>
                                                                                                        </a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                    <td align="right" style="color: #333333; font-size: 16px; line-height: 20px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;" editable=""></td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" bgcolor="#fafafa" height="20" style="color: transparent; font-size: 0px; height: 20px; line-height: 20px; padding: 0px 0px 0px 0px;"> &nbsp; </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center" height="5" style="color: transparent; font-size: 1px; height: 5px; line-height: 5px; padding: 0px 0px 0px 0px;"> &nbsp; </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="contenttable" lang="x-content" style="border-collapse: collapse; min-width: 280px; width: 600px;" width="600" cloneordelete="">
                                            <tbody>
                                                <tr>
                                                    <td align="center" height="20" style="color: transparent; font-size: 0px; height: 20px; line-height: 20px; padding: 0px 0px 0px 0px;"> &nbsp; </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="contenttable" lang="x-content" style="border-collapse: collapse; min-width: 280px; width: 600px; position: relative;" width="600" cloneordelete="">
                                            <tbody>
                                                <tr>
                                                    <td align="center" style="padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="tablemobile" lang="x-tablem" style="border-collapse: collapse; width: 550px;" width="550" cloneordelete="single">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center" style="color: rgb(51, 51, 51); font-size: 13px; line-height: 18px; padding: 0px;" editable=""><font color="#333333" size="2" style="font-family: 'Noto Sans', 'Open Sans', sans-serif; text-size-adjust: 100%;">Complete payment relax and wait for delivery<br> for this purchase </font></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="contenttable" lang="x-content" style="border-collapse: collapse; min-width: 280px; width: 600px; position: relative;" width="600" cloneordelete="">
                                            <tbody>
                                                <tr>
                                                    <td align="center" height="20" style="color: transparent; font-size: 1px; height: 20px; line-height: 20px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;"> &nbsp; </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table align="center" bgcolor="#eaeaea" border="0" cellpadding="0" cellspacing="0" class="contenttable" lang="x-content" style="border-collapse: collapse; min-width: 280px; width: 600px;" width="600" cloneordelete="">
                                            <tbody>
                                                <tr>
                                                    <td align="center" height="1" style="color: transparent; font-size: 1px; height: 1px; line-height: 1px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;"> &nbsp; </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table align="center" bgcolor="#f1fbfb" border="0" cellpadding="0" cellspacing="0" class="contenttable" lang="x-content" style="border-collapse: collapse; min-width: 280px; width: 600px; position: relative;" width="600" cloneordelete="">
                                            <tbody>
                                                <tr>
                                                    <td align="center" style="padding-bottom: 20px; padding-left: 20px; padding-right: 20px; padding-top: 20px;">


                                                        <table align="right" cellpadding="0" cellspacing="0" class="tablemobile" lang="x-tablem" style="border-collapse: collapse;" cloneordelete="single">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center" style="color: #777777; font-size: 13px; line-height: 18px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;" editable="">
                                                                        <font color="#777777" size="2" style="font-family: 'Montserrat', 'Gotham Rounded', 'Gotham', 'Noto Sans', 'Open Sans', 'Source Sans Pro', 'Segoe UI','Segoe UI Web Regular','Segoe UI Symbol','Helvetica Neue',Arial,sans-serif; font-size: 12px; text-size-adjust: 100%; text-transform: uppercase;font-weight:600;">
                                                                            <a href="tel:[USER_MOBILENO]" style="color: #777777;text-decoration: none;">Contact Seller</a>
                                                                        </font>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!--Shadow End-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table align="center" bgcolor="transparent" border="0" cellpadding="0" cellspacing="0" class="contenttable" lang="x-content" style="border-collapse: collapse; min-width: 280px; width: 500px;" width="500" cloneordelete="">
                            <tbody>
                                <tr>
                                    <td align="center" height="20" style="color: transparent; font-size: 1px; height: 20px; line-height: 20px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;"> &nbsp; </td>
                                </tr>
                                <tr>
                                    <td align="center" style="color: #b0b0b0; font-size: 13px; line-height: 18px; padding-bottom: 0px; padding-left: 20px; padding-right: 20px; padding-top: 0px;" editable=""><font color="#b0b0b0" size="2" style="font-family: 'Open Sans', 'Source Sans Pro', sans-serif; font-weight: 400; text-size-adjust: 100%;"> 	© Safeonline Limited</font></td>
                                </tr>
                                <tr>
                                    <td align="center" height="20" style="color: transparent; font-size: 1px; height: 20px; line-height: 20px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;"> &nbsp; </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</body></html>