.icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.hint {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 0.75rem 0.5rem;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the icon */
  left: 50%;
  margin-left: -75px; /* Use half of the width to center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.hint::after {
  content: "";
  position: absolute;
  top: 100%; /* Arrow at the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.icon-container:hover .hint {
  visibility: visible;
  opacity: 1;
}

.checkbox {
  appearance: none;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: relative;
  outline: none;
}

.checkbox:checked::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  animation: bgChange 0.5s ease-out forwards;
}

.checkbox:checked {
  animation: checkboxBgChange 0.3s ease-out forwards;
  /* background-color: rgb(227, 192, 183);  */
  /* Adjust the color as needed */
}

.select-container {
  position: relative;
  width: 100%; /* Adjust width as needed */
}

.select-container select {
  width: 100%;
  padding-right: 30px; /* Adjust padding to make space for the icon */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-container i {
  position: absolute;
  top: var(--top);
  right: 3px;
  transform: translateY(-50%);
  pointer-events: none;
}

.hide-billing {
  animation: hide-billing-address 500ms ease-in-out forwards;
  -webkit-animation: hide-billing-address 500ms ease-in-out forwards;
}

.show-billing {
  animation: show-billing-address 800ms ease-in-out forwards;
  -webkit-animation: show-billing-address 800ms ease-in-out forwards;
}

.hide-summary {
  animation: hide-summary 300ms ease-out forwards;
  -webkit-animation: hide-summary 300ms ease-out forwards;
}

.show-summary {
  animation: show-summary 600ms ease-out forwards;
  -webkit-animation: show-summary 600ms ease-out forwards;
}

@keyframes bgChange {
  0% {
    background-color: transparent;
    transform: scale(0);
  }
  100% {
    background-color: black;
    transform: scale(1);
  }
}

@keyframes checkboxBgChange {
  0% {
    background-color: transparent;
    transform: scale(0);
  }
  100% {
    background-color: rgb(227, 192, 183);
    transform: scale(1);
  }
}

@keyframes show-billing-address {
  0% {
    max-height: 0;
    opacity: 0;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  100% {
    max-height: 1050px;
    opacity: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@keyframes hide-billing-address {
  0% {
    max-height: 1050px;
    opacity: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
  100% {
    max-height: 0;
    opacity: 0;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}

@keyframes show-summary {
  0% {
    max-height: 0;
    opacity: 0;
    display: none;
  }
  100% {
    max-height: 1050px;
    opacity: 1;
    display: flex;
  }
}

@keyframes hide-summary {
  0% {
    max-height: 1050px;
    opacity: 1;
    display: flex;
  }
  50% {
    max-height: 1050px;
    opacity: 1;
    display: flex;
  }
  100% {
    max-height: 0;
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes bgChange {
  0% {
    background-color: transparent;
    transform: scale(0);
  }
  100% {
    background-color: black;
    transform: scale(1);
  }
}

@-webkit-keyframes checkboxBgChange {
  0% {
    background-color: transparent;
    transform: scale(0);
  }
  100% {
    background-color: rgb(227, 192, 183);
    transform: scale(1);
  }
}

@-webkit-keyframes show-billing-address {
  0% {
    max-height: 0;
    opacity: 0;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  100% {
    max-height: 1050px;
    opacity: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@-webkit-keyframes hide-billing-address {
  0% {
    max-height: 1050px;
    opacity: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
  100% {
    max-height: 0;
    opacity: 0;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}


@-webkit-keyframes show-summary {
  0% {
    max-height: 0;
    opacity: 0;
    display: none;
  }
  100% {
    max-height: 1050px;
    opacity: 1;
    display: flex;
  }
}

@-webkit-keyframes hide-summary {
  0% {
    max-height: 1050px;
    opacity: 1;
    display: flex;
  }
  50% {
    max-height: 1050px;
    opacity: 1;
    display: flex;
  }
  100% {
    max-height: 0;
    opacity: 0;
    display: none;
  }
}
