

.custom-pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.swiper-pagination-bullet {
    width: 65px !important;
    height: 65px !important;
    /* object-fit: contain !important; */
    margin: 0 6px !important; /* Adjust spacing as needed */
    cursor: pointer !important;
    border-radius: 0px !important;
    border: 3px solid transparent !important;
    background-size: contain !important;
    background-position: center !important;
    opacity: 1 !important;
  }

  .swiper-pagination-bullet-active{
    border-color: #000 !important; /* Active border color */
  }

  .hide-chart {
    animation: hide-content 200ms ease-out forwards;
    -webkit-animation: hide-content 200ms ease-out forwards;
    display: none;
  }
  
  .show-chart {
    animation: show-content 200ms ease-out forwards;
    -webkit-animation: show-content 200ms ease-out forwards;
    display: flex;
  }
  

  @media all and (min-width: 768px){
    .swiper-pagination-bullet {
        width: 100px !important;
        height: 100px !important;
      }
  }
  
  