@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  padding: 96px 0 0 0;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.backdrop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 25;
  scroll-behavior: unset;
}
.modal {
  width: 80%;
  position: fixed;
  top: 10vh;
  left: 10%;
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.search-modal {
  animation: slide-down 300ms ease-out forwards;
}

.leading-text {
  animation: slide-up 300ms ease-out forwards;
}

#zoom-hint,
#add-to-cart {
  background-image: linear-gradient(to right, #6cdae7, rgb(255, 243, 232));
}

#zoom-hint.expand {
  animation: hint-expand 400ms ease-out forwards;
}

#plus-icon::before,
#minus-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#plus-icon:hover::before,
#minus-icon:hover::before {
  animation: icon-expand 400ms ease-out forwards;
}

#plus-icon.mouseleave::before,
#minus-icon.mouseleave::before {
  animation: icon-collapse 400ms ease-out forwards;
}

#plus-icon:hover > i,
#minus-icon:hover > i {
  animation: change-color 400ms ease-out forwards;
}

#plus-icon.mouseleave > i,
#minus-icon.mouseleave > i {
  animation: change-color-reverse 400ms ease-out forwards;
}

.progress-bar {
  width: 131.16px;
  height: 48px;
  background-color: white;
  border: 1px solid rgb(229 231 235);
  overflow: hidden;
  position: relative;
}

.progress-bar::before {
  content: "";
  width: 0;
  height: 100%;
  background-image: linear-gradient(to right, #6cdae7, rgb(255, 243, 232));
  position: absolute;
  left: 0;
  top: 0;
  animation: progress var(--animate-duration) linear forwards;
}

#toast-msg {
  box-shadow: 4px 4px #a8e8e226, inset 3px 3px #fff;
}

#toast-error {
  box-shadow: 4px 4px #e8b7a826, inset 3px 3px #fff;
}

.loader {
  border: 2px solid transparent;
  border-radius: 50%;
  border-top: 2px solid black;
  border-right: 2px solid black;
  width: 15px;
  height: 15px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.ad-rotate {
  animation: angle-down-rotate 300ms ease-out forwards;
  -webkit-animation: angle-down-rotate 300ms ease-out forwards;
}

.ad-rotate-anticlock {
  animation: angle-down-rotate-anticlock 300ms ease-out forwards;
  -webkit-animation: angle-down-rotate-anticlock 300ms ease-out forwards;
}

.hide {
  animation: hide-content 200ms ease-out forwards;
  -webkit-animation: hide-content 200ms ease-out forwards;
}

.show {
  animation: show-content 200ms ease-out forwards;
  -webkit-animation: show-content 200ms ease-out forwards;
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes icon-expand {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
    background-color: #000;
  }
}

@keyframes icon-collapse {
  from {
    opacity: 1;
    transform: scale(1);
    background-color: #000;
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes change-color {
  from {
    color: rgb(75, 85, 99);
  }
  to {
    color: rgb(194, 194, 194);
    font-weight: 800;
  }
}

@keyframes change-color-reverse {
  from {
    color: rgb(194, 194, 194);
    font-weight: 800;
  }
  to {
    color: rgb(75, 85, 99);
  }
}

@keyframes hint-expand {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes angle-down-rotate-anticlock {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes angle-down-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes show-content {
  0% {
    max-height: 0;
    opacity: 0;
    transform: translateY(-25px);
    display: none;
  }
  100% {
    max-height: 1050px;
    opacity: 1;
    transform: translateY(0);
    display: flex;
  }
}

@keyframes hide-content {
  0% {
    max-height: 1050px;
    opacity: 1;
    transform: translateY(0);
    display: flex;
  }
  100% {
    max-height: 0;
    opacity: 0;
    transform: translateY(-25px);
    display: none;
  }
}

@-webkit-keyframes angle-down-rotate-anticlock {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes angle-down-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@-webkit-keyframes show-content {
  0% {
    max-height: 0;
    opacity: 0;
    transform: translateY(-25px);
    display: none;
  }
  100% {
    max-height: 1050px;
    opacity: 1;
    transform: translateY(0);
    display: flex;
  }
}

@-webkit-keyframes hide-content {
  0% {
    max-height: 1050px;
    opacity: 1;
    transform: translateY(0);
    display: flex;
  }
  100% {
    max-height: 0;
    opacity: 0;
    transform: translateY(-25px);
    display: none;
  }
}

#go-to-productpage__section a {
  margin: 0;
  transition: margin-left 0.2s ease;
  -webkit-transition: margin-left 0.2s ease;
}

#go-to-productpage__section a:hover {
  margin-left: 8px;
}

#image-zoom img {
  object-position: 0 0;
}

#image-zoom::after {
  display: var(--display);
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: var(--url);
  background-size: 400%;
  background-position: var(--zoom-x) var(--zoom-y);
}

.swiper-button-next,
.swiper-button-prev {
  color: rgb(0, 0, 0) !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px !important;
  font-weight: bold !important;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media all and (min-width: 1024px) {
  .modal {
    left: calc(50% - 35rem);
    width: 70rem;
  }
}
