
  
  #mobile-nav.forward{
    -webkit-animation: forward .3s linear forwards; /* Safari */
    animation: forward .3s linear forwards;
  }
  
  
  #mobile-nav.backward{
    -webkit-animation: backward .3s linear forwards; /* Safari */
    animation: backward .3s linear forwards;
  }

  
/* Safari */
@-webkit-keyframes forward {
  0% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes forward {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Safari */
@-webkit-keyframes backward {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes backward {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
